/* Common Style For Online Flower Market */
body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 10px 23px;
    border: none;
}

.primary-color{
    color: #E55473;
}
.page-margin{
        background: #FFF;
        margin: 150px 140px;
}

/* Banner Styles */
.banner-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    gap: 55px;

}
.banner-details,.banner-img-container{
    width: 50%;
}

.banner-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.banner-img-container {
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.banner-img {
    width: 90%;
}

.banner-greetings {
    font-size: 40px;
    margin-bottom: 32px;
}

.banner-description {
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

/* Hot Deal Style */
.hot-deal-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.hot-deal-title {
    font-size: 30px;
    margin-bottom: 32px;
}

.hot-deal-img-container{
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hot-deal-img{
    width: 70%;
}


/*Instagram Section Style  */
.instagram-container{
    background: #FFF;
    margin: 150px 140px;
}
.instagram-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;

}
.instagram-title{
    font-size: 2.5em;
    border-bottom: 30px;
}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    padding-top: 10px;
    font-size: 12px;
}
.instagram-img-container{
display: flex;
gap: 20px;
}
.instagram-img-container img{
    width: 23%;
    border-radius: 2px;
    box-shadow: 5px;
}

/* Get the latest Deals */
.deals {
    height: 500px;
}

.deals-container {
    
    margin: auto;
    background-image: url('../flower-shop-assignment/Flower Asset/Rectangle 9.png');
    width: 100;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deals-container h1,p,form{
    margin-top: 2em;
}
.deals-container h1{
    font-size: 2.2em;
}


/*  */